
body{
    background-color: #8f8f8f;
    font-family: Ubuntu, "times new roman", times, roman, serif;

}
.navbar-container{
    width: auto;
}
li.navbar{
    font-size: large;
    float: right;
    display: block;
    border: 2px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
    padding: 4px;
    background-color: lightgrey;
}
.current-user-text{
    display: flex;
    font-size: small;
    float: right;
    margin-right: 7%;
    font-weight: 800;
}

.error{
    width: 40%;
    border: 1px solid black;
    color: #cc0033;
    text-align: center;
    background-color: #fea2a3;
    margin: 8px;
    position: relative;
    padding-top: 1em;
    height: 2em;
}
.close-error{
    cursor:pointer;
    position: absolute;
    right: 15px;
    font-size: 24px;
    top: 10px;
}
.left-container{
    position: fixed;
    bottom: 1;
    left: 0;
    /*border: 1px blue solid;*/
    width: 50%;
    max-width: 50%;
    display: table;
    height: 95%;
}
.right-container{
    margin-top:35px;
    position: fixed;
    bottom: 1;
    right: 0;
    /*border: 1px red solid;*/
    width: 50%;
    max-width: 50%;
}
.room-menu-box{
    display: flex;
    border: 1px black solid;
    background-color: #adadad;
    margin-bottom: 30px;
    width: 90%;
    margin-left: 5px;

}
.room-name, .room-privacy {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-right: 1px black solid;
    max-width: 7em;
    width: 7em;
    text-align: center;
}
.room-capacity{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    border-right: 1px black solid;
}
.room-join-button{
    background-color: #2cb651;
    border: 1px black solid;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 7%;
    margin-right: 8%;
    display: flex;
    flex: 1;
    justify-content: center;
    padding-top: 1.5%;
    width: auto;
    
}
.room-join-button:hover{
    background-color: #269c46;
}
.create-room-container{
    margin-top: 1.5em;
    /*border: 1px rgb(32, 208, 94) solid;*/
    border: 1px black solid;
    width: 70%;
    background-color:  #adadad;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 1em;
}
.create-room-title{
    font-size: large;
    padding-top: 1em;
    padding-bottom: 1em;
}
.popup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}
.popup-contents{
    border: 3px black solid;
    border-style: ridge;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    position: relative;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.popup-close{
    margin: 2px;
    float: right;
    cursor: pointer;
}
.chatbox{
    border: 2px black solid;
    border-radius: 4px;
    margin: 3px;
    margin-top: 5%;
    padding: 3px;
    background-color: #B3B3B3;
    display: flex;
}
.chat-time{
    text-align: center;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    border-right: 1px black solid;
}
.chat-username{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 3px;
    padding-bottom: 3px;
    border-right: 1px black solid;
    text-align: center;
    max-width: 120px;
}
.chat-message-container{
    width: 100%;
    /*border:1px green solid;*/
    text-align: center;
}
.chat-message-text{
    padding-left: 1em;
    padding-bottom: 1em;
    text-wrap: wrap;
    text-overflow: clip;
    /*border: 1px blue solid;*/
}
.chat-input-container{
    border: 1px yellow solid;
    padding: 3px;
    display: flex;  
    text-align: center;
    flex-flow: column;
    height: 100%;
    position: relative;
}
.chat-input{
    border: 1px black solid;
    padding: 6px; 
    vertical-align: bottom;
    flex: 1 1;
}
#message{
    width: 50%;
    text-align: left;
    margin-top: 4px;
    margin-bottom: 4px;
}