{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block head %}{% endblock %}
{% block content %}

{% for name,password,capacity in all_rooms%}
<div class="left-container">
    <div class="room-menu-box">
        <div class="room-name">{{name}}</div>
        <div class="room-capacity">{{capacity}}</div>
        <div class="room-privacy">{%if password%}Private{%else%}Public{%endif%}</div>
        {% if session.username %}
        <form action="/join_room" method="post">
            <button type="submit" class="room-join-button" onclick="this.form.submit()">Join room</button>
        </form>
        {% else %}
            <button class="room-join-button" href="{{url_for('signup')}}">Sign Up to Join</button>
        {% endif %}
    </div>
{% endfor %}
</div>

{% endblock %}