{% extends 'base.html' %}
{% block title %}Room {{room_id}}{% endblock %}
{% block head %}{% endblock %}
{% block content %}

<form action="/leave_current_room" method="post">
    <input class="leave-room-button" type="submit" value="Leave Room">
</form>

<div class="left-container">

    <div class="chat-container" id="chat-container">

        <!--Chatbox in chat left-container which is just used as a 
        container for the whole chat stuff-->
        <!--
        <div class="chatbox">
            <div class="chat-time">time</div>
            <div class="chat-username">bob50</div>
            <div class="chat-message-container">
                <span class="chat-message-text">Hello wordl!</span>
            </div>
        </div>
        -->
    </div>
        <div class="chat-input-container">
            <form action="/send_message" method="post">
                <span class="chat-input">
                    <label for="message">Message:</label>
                    <input type="text" name="message" id="message">
                    <input type="hidden" name="room_id" value="{{room_id}}">
                    <input type="submit" value="Send">
                </span>    
            </form>
        </div>


</div>

<!-- Music section-->
<div class="right-container" style="border: 1px orange solid;">
    <div class="current-song-container">

    </div>
    <div class="music-selector-container">

    </div>

</div>

    <script>
        function get_chats(room_id){
            console.log("working")
            const req = new XMLHttpRequest()
            req.onload = function(){
                const response = this.responseText
                if (response == document.getElementById("chat-container").innerHTML){
                    console.log("no changes in chat")
                }else{
                    document.getElementById("chat-container").innerHTML = response
                }
            }
            req.open("GET","/get_room_chat",true)
            req.send()
        }
        setInterval(get_chats,2000)
        document.onload = get_chats()
    </script>
    
{% endblock %}